In [43]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Set random seed for reproducibility
np.random.seed(42)

# Generate dataset
X, y = make_classification(n_samples=1000, n_features=10, n_classes=2, 
                           n_clusters_per_class=1, class_sep=2, flip_y=0.1)

# Creating Dataset A

In [44]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Preprocessing

In [45]:
# Encode labels
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [46]:
# Save to CSV
data_A = pd.DataFrame(np.column_stack((X_train_scaled, y_train_encoded)), columns=[f'feature_{i}' for i in range(10)]+['target'])
data_A.to_csv('data_A.csv', index=False)

In [47]:
data_A.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,target
0,-0.452037,1.231288,-1.207790,1.681160,1.353572,-1.432215,0.947651,1.643885,-0.215490,-0.444078,1.0
1,-0.661140,0.220029,1.210934,-0.294556,-1.108919,0.823840,-0.081486,-1.117269,1.232453,-0.667570,0.0
2,1.325936,0.739060,-0.629603,0.338894,0.361443,0.107742,-0.544390,-0.326614,-0.066821,1.327934,1.0
3,-1.547872,1.169264,0.171011,0.874304,1.526825,-1.967243,0.767174,2.324678,-0.528397,-1.538803,1.0
4,1.793393,-0.050062,-1.795130,0.641711,-0.249960,0.843875,-0.591943,0.347252,-0.073186,1.791773,0.0

In [48]:
data_A.shape

(800, 11)

In [49]:
data_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_0  800 non-null    float64
 1   feature_1  800 non-null    float64
 2   feature_2  800 non-null    float64
 3   feature_3  800 non-null    float64
 4   feature_4  800 non-null    float64
 5   feature_5  800 non-null    float64
 6   feature_6  800 non-null    float64
 7   feature_7  800 non-null    float64
 8   feature_8  800 non-null    float64
 9   feature_9  800 non-null    float64
 10  target     800 non-null    float64
dtypes: float64(11)
memory usage: 68.9 KB

In [50]:
data_A.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,target
count,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,800.000000
mean,-1.953993e-15,-2.220446e-18,8.881784e-18,2.886580e-17,2.442491e-17,-8.881784e-18,-1.776357e-17,8.881784e-18,8.881784e-18,-8.215650e-16,0.492500
std,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,0.500257
min,-3.237256e+00,-2.862670e+00,-2.607972e+00,-3.449296e+00,-1.809506e+00,-2.938590e+00,-2.969143e+00,-2.985049e+00,-2.888999e+00,-3.247559e+00,0.000000
25%,-6.709162e-01,-6.689323e-01,-7.061094e-01,-6.780862e-01,-9.130649e-01,-9.114675e-01,-7.042443e-01,-7.034049e-01,-6.296946e-01,-6.749038e-01,0.000000
50%,3.400300e-03,-2.854567e-02,-1.626850e-02,6.069351e-03,-2.351223e-01,6.468377e-01,2.696288e-03,-2.706064e-03,2.884352e-03,5.418579e-03,0.000000
75%,6.811220e-01,6.360201e-01,7.160683e-01,6.598911e-01,9.401987e-01,8.651343e-01,7.215392e-01,6.708534e-01,6.159389e-01,6.808503e-01,1.000000
max,2.869762e+00,3.096688e+00,2.950738e+00,3.461242e+00,2.089805e+00,1.151760e+00,3.090443e+00,3.171465e+00,3.148856e+00,2.868741e+00,1.000000

In [51]:
data_A.duplicated().sum()

0

In [52]:
data_A.isnull().sum()

feature_0    0
feature_1    0
feature_2    0
feature_3    0
feature_4    0
feature_5    0
feature_6    0
feature_7    0
feature_8    0
feature_9    0
target       0
dtype: int64

In [53]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

# Extract features and labels
X_A = data_A.drop('target', axis=1)
y_A = data_A['target']

# Classifier Training and Evaluation

In [54]:
# Initialize classifiers
log_reg = LogisticRegression()
tree_clf = DecisionTreeClassifier()

In [55]:
# Perform cross-validation and calculate F1-score
f1_scores_A_log_reg = cross_val_score(log_reg, X_A, y_A, cv=5, scoring='f1')
f1_scores_A_tree_clf = cross_val_score(tree_clf, X_A, y_A, cv=5, scoring='f1')

# Calculate average F1-score
avg_f1_A_log_reg = np.mean(f1_scores_A_log_reg)
avg_f1_A_tree_clf = np.mean(f1_scores_A_tree_clf)

print("Average F1-score for Dataset A:")
print("Logistic Regression:", avg_f1_A_log_reg)
print("Decision Tree:", avg_f1_A_tree_clf)

Average F1-score for Dataset A:
Logistic Regression: 0.9503928648133165
Decision Tree: 0.8948018279408737

# Creating Dataset B

In [69]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.preprocessing import PolynomialFeatures

# Set random seed for reproducibility
np.random.seed(42)

# Generate highly non-linear dataset
X, y = make_classification(n_samples=1000, n_features=20, n_classes=2, 
                           n_clusters_per_class=1, class_sep=0.8, flip_y=0.1)

In [70]:
# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing

In [71]:
# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Encode labels
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [73]:
# Save to CSV
data_B = pd.DataFrame(np.column_stack((X_train_scaled, y_train_encoded)), columns=[f'feature_{i}' for i in range(X_train_scaled.shape[1])]+['target'])
data_B.to_csv('data_B.csv', index=False)

In [74]:
data_B.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
0,0.828903,0.466051,0.738635,0.923039,-1.677222,0.923864,-0.099375,-0.546848,2.658145,0.114907,...,0.573782,0.081785,1.097111,-0.957853,-0.233699,0.046484,-0.075406,1.955681,-0.360057,0.0
1,0.994504,0.098123,-0.191205,0.361722,-0.017285,0.360334,2.692853,-0.519066,0.078085,2.169512,...,0.930679,-0.324789,-0.191544,0.565216,0.482286,-0.381832,0.384168,-0.035051,0.185816,1.0
2,0.793597,-0.610885,0.496951,1.098258,-1.185278,1.097880,0.563942,0.179728,-0.943464,0.249979,...,-0.696222,0.527706,-1.330341,0.271099,0.177890,-0.978047,0.916692,0.727719,-0.239431,1.0
3,-1.148528,-0.073917,0.476525,-0.718029,-0.933711,-0.714929,-0.237656,-0.838253,0.384455,1.229776,...,0.929219,1.921967,-1.482764,0.040380,-1.073135,0.682645,-1.510679,1.821971,0.257357,0.0
4,-0.014747,0.180670,-1.557197,-1.068325,0.234876,-1.071780,-1.763228,0.991224,-0.781996,1.319999,...,0.747225,1.454142,1.406940,-0.188210,1.108968,-0.428711,0.641198,-1.718257,-1.211619,1.0

In [75]:
data_B.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,target
count,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,...,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,8.000000e+02,800.000000
mean,3.552714e-17,-2.220446e-18,-1.998401e-16,-8.437695e-16,3.108624e-17,-3.019807e-16,4.718448e-17,-8.881784e-18,4.662937e-17,6.883383e-17,...,2.886580e-17,-5.551115e-18,-1.332268e-17,-6.661338e-18,-1.110223e-18,-4.440892e-18,4.662937e-17,-1.243450e-16,-7.993606e-17,0.492500
std,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,...,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,1.000626e+00,0.500257
min,-3.086584e+00,-3.310141e+00,-4.139682e+00,-3.245077e+00,-3.536324e+00,-3.238208e+00,-2.865491e+00,-2.991870e+00,-2.853240e+00,-3.309898e+00,...,-3.236767e+00,-2.902561e+00,-2.896320e+00,-3.848209e+00,-2.454593e+00,-3.373860e+00,-3.753730e+00,-3.766851e+00,-3.100615e+00,0.000000
25%,-6.512081e-01,-6.715146e-01,-6.364973e-01,-6.760057e-01,-6.764400e-01,-6.726569e-01,-6.815096e-01,-6.666068e-01,-6.852860e-01,-6.189300e-01,...,-6.832565e-01,-6.720244e-01,-6.937522e-01,-6.559337e-01,-7.548734e-01,-6.681710e-01,-6.668051e-01,-7.197028e-01,-6.073674e-01,0.000000
50%,-7.382102e-03,-2.187752e-02,4.397894e-01,-1.494048e-02,3.078015e-02,-1.795227e-02,-2.861672e-02,-2.555352e-02,-1.215445e-03,5.811229e-03,...,-5.986306e-02,2.984131e-02,-8.363656e-03,3.091896e-02,-6.471302e-02,3.931488e-03,3.249862e-02,-2.276023e-02,3.745248e-03,0.000000
75%,6.604023e-01,7.079039e-01,6.547038e-01,6.448735e-01,7.070510e-01,6.461745e-01,6.693500e-01,6.591558e-01,7.177322e-01,6.540008e-01,...,6.999705e-01,6.432510e-01,7.069841e-01,6.601907e-01,7.347211e-01,6.533629e-01,6.516502e-01,7.029343e-01,6.891542e-01,1.000000
max,3.461279e+00,2.981016e+00,2.791083e+00,2.865473e+00,3.401300e+00,2.863382e+00,3.147025e+00,3.213761e+00,2.768718e+00,3.193355e+00,...,3.011901e+00,3.953108e+00,3.073077e+00,3.367209e+00,2.855798e+00,3.005600e+00,3.182307e+00,3.197903e+00,4.548431e+00,1.000000

In [76]:
data_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   800 non-null    float64
 1   feature_1   800 non-null    float64
 2   feature_2   800 non-null    float64
 3   feature_3   800 non-null    float64
 4   feature_4   800 non-null    float64
 5   feature_5   800 non-null    float64
 6   feature_6   800 non-null    float64
 7   feature_7   800 non-null    float64
 8   feature_8   800 non-null    float64
 9   feature_9   800 non-null    float64
 10  feature_10  800 non-null    float64
 11  feature_11  800 non-null    float64
 12  feature_12  800 non-null    float64
 13  feature_13  800 non-null    float64
 14  feature_14  800 non-null    float64
 15  feature_15  800 non-null    float64
 16  feature_16  800 non-null    float64
 17  feature_17  800 non-null    float64
 18  feature_18  800 non-null    float64
 19  feature_19  800 non-null    float64
 20  target      800 non-null    float64
dtypes: float64(21)
memory usage: 131.4 KB

In [77]:
data_B.duplicated().sum()

0

In [78]:
data_B.isnull().sum()

feature_0     0
feature_1     0
feature_2     0
feature_3     0
feature_4     0
feature_5     0
feature_6     0
feature_7     0
feature_8     0
feature_9     0
feature_10    0
feature_11    0
feature_12    0
feature_13    0
feature_14    0
feature_15    0
feature_16    0
feature_17    0
feature_18    0
feature_19    0
target        0
dtype: int64

# Classifier Training and Evaluation

In [79]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X_B = data_B.drop('target', axis=1)
y_B = data_B['target']

# Initialize classifiers
log_reg = LogisticRegression()
tree_clf = DecisionTreeClassifier()

In [80]:
# Perform cross-validation and calculate F1-score
f1_scores_B_log_reg = cross_val_score(log_reg, X_B, y_B, cv=5, scoring='f1')
f1_scores_B_tree_clf = cross_val_score(tree_clf, X_B, y_B, cv=5, scoring='f1')

In [81]:
# Calculate average F1-score
avg_f1_B_log_reg = np.mean(f1_scores_B_log_reg)
avg_f1_B_tree_clf = np.mean(f1_scores_B_tree_clf)

print("\nAverage F1-score for Dataset B:")
print("Logistic Regression:", avg_f1_B_log_reg)
print("Decision Tree:", avg_f1_B_tree_clf)

Average F1-score for Dataset B:
Logistic Regression: 0.8045447211789647
Decision Tree: 0.8315124133719959

In [82]:
# Calculate differences in F1 scores
diff_A_log_reg_tree_clf = avg_f1_A_log_reg - avg_f1_A_tree_clf
diff_B_log_reg_tree_clf = avg_f1_B_log_reg - avg_f1_B_tree_clf

print("Difference (LogReg - TreeClf):", diff_A_log_reg_tree_clf)
print("Difference (LogReg - TreeClf):", diff_B_log_reg_tree_clf)

Difference (LogReg - TreeClf): 0.05559103687244282
Difference (LogReg - TreeClf): -0.02696769219303119